body {
	background:#F7F4E9 url(../images/body.png) repeat-x top center;
}
small {
	color:#888
}

th,#navigation,.active,input[type=submit],.pagination a:hover,.date td a:hover {
	background-color:#434A48;
	color:#fff
}

select, textarea,  td, .content-box, #foot {
	background:#fff url(../images/gradient.png) repeat-x 0 -28px
}
tr {
	background-position:0 -18px;
}
.content-box {
	background-position:0 1px;
}

.active, th, #head, #navigation a, input[type=submit] {
	color:#fff;
}

.content-box > .header {
	background:#ddd;
}

input, select, textarea, .pagination a {
	border-color:#ddd
}

h1,h2,h3,h4,h5,h6 {
	border-color:#ddd
}

a {
	cursor: pointer;
	color:#888
}
a.edit {
	background-image:url(../images/edit.png)
}
a.delete {
	background-image:url(../images/trash.png)
}
a.add {
	background-image:url(../images/add.gif)
}
a.synchronize {
	background-image:url(../images/sync.gif)
}

#head {
	background:#313230
}

#navigation a:hover {
	background:#383E3C
}
#navigation .active {
	background:#687370
}

.box,.box > .utils a {
	background:#fff;
	border-color:#eee
}
.box > h2 {
	background:url(../images/box-h2.png) repeat-x bottom center #fff
}

.error,.success,.info,.error a,.success a,.info a {
	color:#fff
}
.error {
	background:#901830
}
.success {
	background:#C2EFC2
}

.glow-sortable-dropindicator {
	background:#eee
}
table tfoot td{
	border-top:1px solid #ddd;
}