.header h4{
	display: inline-block;
}

#filter_visibility_switch{
	width:30px;
	height:30px;
/* 	background-image:url(../images/reload.png); */
	background-size: 30px 30px;
	cursor: pointer;
	float:right;
}

#logviewer_events .log_event .level {
	width: 80px;
}

#logviewer_events .log_event .datetime {
	width: 150px;
	background: #e6e6e6;
}

#logviewer_events .log_event .loggerName {
	background: #e6e6e6;
}

#logviewer_events .log_event .logPath{
	width: 20px;
	background: #e6e6e6;
	background-position: 15px 7px;
	background-repeat: no-repeat;
 	background-image:url(../images/show.png);
	background-size: 20px 20px;
	cursor: pointer;
}

#logviewer_events .log_event .message{
}

.TRACE { background: #BDDBFF; color: #0000FF; font-weight: bold; }
.DEBUG { background: #AFE9AF; color: #005500; font-weight: bold; }
.INFO { background: #FFFB5B; color: #FF9900; font-weight: bold; }
.WARN { background: #FFBFBF; color: #FF5328; font-weight: bold; }
.ERROR { background: #FC3939; color: #990000; font-weight: bold; }
.FATAL { background: #FF0000; color: #990000; font-weight: bold; }


#log_path_graph{
  height: auto;
}
#log_path_graph canvas{
  height: auto;
}

/* #log_path_graph .details .level { */
/* 	width: 80px; */
/* } */

/* #log_path_graph .details .datetime { */
/* 	width: 150px; */
/* } */

/* #log_path_graph .details .loggerName { */
/* } */
