.modal_dialog {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:250px; width:400px; color:#000; background-color:#fff; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container label {float:left;width:160px;}
#simplemodal-container input[type="checkbox"] {margin-top:5px;}
#simplemodal-container p.buttons {float:right;margin-bottom:0px;}